.header {
	background-color: black;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav {
	color: #B3B3B3;
}

.nav ul {
	display: flex;
	flex-direction: row;
}

.nav ul li {
	list-style: none;
	margin: 10px;
	font-size: 20px;
}

.nav ul li a {
	color: #B3B3B3;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.nav ul li a:hover {
	background-color: red;
	color: black;
	
	
}

.icono-app {
	width: 280px;
	height: 150px;
}