.header {
	background: rgb(30, 30, 30, 0.575);
	/* Negro translúcido */
	backdrop-filter: blur(10px);
	/* Difuminado */
	-webkit-backdrop-filter: blur(10px);
	/* Soporte para Safari */
	height: 70px;
	top: 0%;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1100;
	
}

.nav {
	color: #B3B3B3;
	padding: 20px;
}

.nav ul {
	display: flex;
	flex-direction: row;
}

.nav ul li {
	list-style: none;
	margin: 10px;
	font-size: 14px;
}

.nav ul li a {
	color: white;
	text-decoration: none;
font-size: 16px;
	border-radius: 10px;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav ul li a:hover svg{
	fill: red;


}

.nav ul li a img, nav ul li a svg{
	width: 25px;
	height: 25px;
	transition: all 0.3s ease;
	border-radius: 50%;
	
}

.no-p-movil{
	display: none;
}



.icono-app img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	padding: 20px;
}

@media(max-width:1100px) {
	.icono-app img {
		width: 30px;
		height: 30px;
	}
	.header{
		position: static;
	}
	.no-p-movil {
		display: none;
	}
	.nav ul li a img {
		width: 25px;
		height: 25px;
	}
	
}