/* Contenedor principal */
.login-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #121212;
	height: 100vh;
}

/* Contenedor del login */
.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	background-color: #1e1e1e;
	padding: 50px;
	border-radius: 12px;
	box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.3);
	text-align: center;
}

/* Logo */
.logo {
	width: 70px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/* Título */
.login-container h2 {
	color: white;
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 600;
}

/* Campos de entrada */
.login-container input {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	background-color: #2a2a2a;
	border: 1px solid #333;
	border-radius: 10px;
	font-size: 16px;
	color: #b3b3b3;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.login-container input:focus {
	border-color: red;
	background-color: #252525;
	color: white;
	transform: scale(1.02);
}

/* Botón de inicio de sesión */
.login-container button {
	width: 70%;
	padding: 12px;
	background: linear-gradient(90deg, red, rgb(200, 0, 0));
	color: rgb(0, 0, 0);
	font-size: 16px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-top: 20px;
	font-weight: bold;
}

.login-container button:hover {
	background: linear-gradient(90deg, rgb(200, 0, 0), rgb(255, 50, 50));
	transform: scale(1.05);
	box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.4);
}

/* Mensaje de error */
.error-message {
	color: red;
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: bold;
}

/* Responsive */
@media (max-width: 600px) {
	.login-container {
		width: 90%;
		padding: 30px;
	}

	.login-container h2 {
		font-size: 20px;
	}

	.logo {
		width: 60px;
	}
}
