.contenedor-principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	overflow-y: scroll !important;
	
}

.contenedor-canciones {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 90%;
}


.buscador {
	width: 90%;
	height: 40px;
	font-size: 18px;
	padding: 10px;
	background-color: #333337;
	border-radius: 10px;
	outline: none;
	color: #B3B3B3;
	border: 1px SOLID #333337;
}

.caja-buscador {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;

}

.boton-buscador {
	background-color: red;
	border: 2px solid red;
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
	transition: transform 0.3s ease;
	margin-left: 25px;
}

.boton-buscador img {
	width: 45px;
	height: 45px;
	transition: filter 0.3s ease;
}