.contenedor-principal {

	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 0%;
	top: 70px;
	min-height: calc(100vh - 70px);
	width: 80%;
	padding: 20px;
	overflow: hidden;

}



.titulo-pagina-inicio {
	color: #B3B3B3;
	font-size: 40px;
	text-align: left;
	width: 90%;
	margin-bottom: 20px;
}

.contenedor-canciones {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 90%;
	background-color: #1e1e1e;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}


.buscador {
	height: 30px;
	font-size: 18px;
	padding: 10px;
	background-color: #1e1e1e;
	border-radius: 10px;
	outline: none;
	color: #B3B3B3;
	width: 95%;
	border: 1px SOLID #1f1f1e;
}

.caja-buscador {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;

}

.boton-buscador {
	background-color: #1e1e1e;
	border: 2px solid #1e1e1e;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-left: 20px;
	padding: 5px;
}

.boton-buscador:hover {
	background-color: #222225;
}

.boton-buscador img {
	width: 35px;
	height: 35px;
	transition: filter 0.3s ease;
}

.no-results-p {
	color: #B3B3B3;
}

.texto-busqueda {
	color: #B3B3B3;
	margin-top: 30px;
	width: 90%;
}

.boton-encendido{	
	background-color: red;
	border: 2px solid red;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	margin-left: 20px;
	padding: 5px;
	transition: all 0.3s ease;
}

.boton-encendido img {
	width: 35px;
	height: 35px;
	transition: filter 0.3s ease;
}

@media(max-width:1100px) {
	.contenedor-principal {
		width: 95%;
		padding: 0px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 20px;

	}

	.titulo-pagina-inicio {
		color: #B3B3B3;
		font-size: 22px;
		text-align: left;
		width: 90%;
	}
}